<html>
  <head>
    <title>Questin</title>
  </head>
  <body>
    <div id="wrapper">
      <h1>Go Questin</h1>
      <a href="/logout"><button>Log out</button></a>
      <hr />
      <aside>

      </aside>
      <main>
        <span style="display:none"><div id="userID"><%= user.id %></div></span>
        <h3>Hello <%= user.username %>!</h3>
        <% if user.characters == [] %>
          <div id="createCharacter">
            <h4>Choose your character:</h4>
            <img src="/player1.png" id="player1" />
            <img src="/player2.png" id="player2" />

          </div>
        <% end %>
        <div id="gameDiv">
        </div>
      </main>
    </div>
  </body>
</html>
