@import url(http://fonts.googleapis.com/css?family=Crimson+Text);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

#createCharacter {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  border: 1px solid black;
  background-color:#DBDBDB;
}

h1 h2 h3 {
  font-family: 'Crimson Text', serif;
}

p h4{
  font-family: 'Source Sans Pro', sans-serif;
}

h1 h2 {
  font-size:3em;
}

body {
  /*background-color:#A10A0A;*/
  background-color:#D93636;
}

#wrapper {
  margin: 0 auto;
  width: 60%;
}

#banner {
  margin-bottom: 15px;
}
